<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Saúde Financeira</mat-card-title>
      <mat-card-subtitle class="subtitle">Total de despesas por contas</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
 
    </mat-card-content>

  
   <app-total-despesa-conta></app-total-despesa-conta>



   <app-saldo-total></app-saldo-total>   <!-- considerar nova tabela de saldos) -->
<app-total-movimentacao-mensal></app-total-movimentacao-mensal>
   <!--
total de movimentações mensal (Carteira = Receitas - (transferências e despesas))


grafico em linha que acumula gastos (despesas) - mostra por conta de despesa

grafico em linha que acumula despesas
grafico em linha que acumula receitas - são duas linhas

   -->

  </mat-card>